.region-content .proyectos ul {
    color: #333;
    line-height: 1.42857;
}

table td {
    padding: 5px 15px;
}

@media (max-width: 767px) {
	/*header*/
	.language-switcher-language-url, .region .search-block-form {
		clear: both;
	}
	.language-switcher-language-url {
		margin: 0 0 10px -10px;
		font-size: 12px
	}
	.search-block-form {
		margin-left: 18px;
	}
   .region-navigation .pull-left img {
   	max-width: 250px;
   	margin: 10px 18px;
   }
	.block[id*="socialheader"] {
		display: none;
	}
	.path-frontpage .region .block[id$="navegacionprincipal-2"]{
		display: table;
		margin-top: 25px;
	}
	.region .block[id$="navegacionprincipal-2"]{
		display: table;
		margin-top: 80px;
	}
	/*content*/
	.carousel-inner .carousel-caption{
		padding: 0;
	}
	.carousel-caption h3{
		font-size: 17px;
	}
	.carousel-caption p{
		display: none;
	}
	.carousel-indicators{
		margin-bottom: 0;
	}
	.view-display-id-page_1 .views-row {
		text-align: center;
	}
	.view-display-id-page_1 .columna-proyectos-portada  {
		min-width: 275px;
		margin: 0 auto 30px auto;;
		max-width: 100%;
		float: none;
	}
	.view-display-id-page_1 .view-content {
		margin: 0 auto;
		max-width: 90%;
	}
	.region .block[id*="noticias-block-1"], .region .block[id*="agenda-block-1"] {
    	width: 100%;
	}
	.block[id*="conversionportada"] #socio, .block[id*="conversionportada"] #campanya, .block[id*="conversionportada"] #voluntario, .block[id*="conversionportada"] #empresas {
		clear: both;
		float: none;
		margin: 0 0 10px 0;
		width: 100%;
		font-size: 20px;
	}
	/*colabora*/
	.view.view-colabora .views-row {
		margin: 0 0 80px 0;
	}
	.view.view-colabora .views-field-title{
		bottom: 105%;
	}
	.view.view-colabora .views-field-title h2 {
		font-size: 22px;
	}
	.view.view-colabora .views-field-body {
		max-width: 100%;
		height: auto;
		font-size: 13px;
	}
	.view.view-colabora .views-field-title, .view.view-colabora .views-field-body, .view.view-colabora .views-field-field-boton {
    	width: 100%;
	}
	/*footer*/
	.footermap-item--depth-1 {
    clear: both;
    border-bottom: 1px dotted #cfcfcf;
    width: 100%;
    margin-bottom: 5px;
	}
    .block[id*="footer2"] {
        display: none;
    }
    #enlace-aviso-legal {
        margin-top: 5px;
    }
}
@media (min-width: 768px) {
	.navbar-header{
		width: 100%;
	}
	.block[id*="socialheader"]{
		float: right;
		margin: 2px 20px 0 0;
	}
	.search-block-form {
		margin-top: 5px;
	}
    .block[id*="footermobile"] {display: none;}
}
@media (min-width: 992px){
	.region .block[id$="navegacionprincipal"]{
		display: table;
		clear: both;
		margin: 0 auto;
   	width: 80%;
	}
	.search-block-form {
		margin: 5px 5px 0 0;
	}
	.block[id$="navegacionprincipal-2"]{
		display: none;
	}
	.logo {
	margin-bottom: 20px;
	}
	.language-switcher-language-url, .search-block-form {
		float: right;
	}
	.breadcrumb {
    margin-top: 70px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.region .search-block-form, .language-switcher-language-url {
		float: right;
		font-size: 14px;
    }
    .navbar {
		height: 100px;
    }
	.path-frontpage .region .block[id$="navegacionprincipal-2"]{
		display: table;
		margin-top: 0;
	}
	.region .block[id$="navegacionprincipal-2"]{
		display: table;
		margin-top: 55px;
	}
	.region .block[id*="noticias-block-1"], .region .block[id*="agenda-block-1"] {
    	width: 100%;
	}
	.view-proyectos .columna-proyectos-portada .views-field-title {
		height: 80px;
	}
	.view-proyectos .titulo-proyectos-portada a {
		font-size: 13px;
	}
	.block[id*="conversionportada"] #socio, .block[id*="conversionportada"] #campanya, .block[id*="conversionportada"] #voluntario, .block[id*="conversionportada"] #empresas {
   	width: 23.5%;
	}
	.footermap-item--depth-1 {
    clear: both;
    border-bottom: 1px dotted #cfcfcf;
    width: 100%;
    margin-bottom: 5px;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	ul.sf-menu.sf-style-default li, ul.sf-menu.sf-style-default.sf-navbar {
   	padding: 5px 10px;
	}
	.region .block[id$="navegacionprincipal"]{
   	width: 95%;
	}

}
@media (min-width: 992px) and (max-width: 1199px) {
	.region .block[id*="noticias-block-1"], .region .block[id*="agenda-block-1"] {
    	width: 49%;
	}
	.region .block[id*="noticias-block-1"] {
    	margin-right: 15px;
	}
	.block[id*="conversionportada"] #socio, .block[id*="conversionportada"] #campanya, .block[id*="conversionportada"] #voluntario, .block[id*="conversionportada"] #empresas {
   	width: 24%;
	}
}

body {
    font-size: 15px;
}
a{
	color: #000;
}
a:hover, a:focus{
	color: #658d1b;
	text-decoration: none;
}
/*header*/
.navbar-default {
    background-color: #fff;
    border: none;
}
.page-header {
    border-bottom: none;
    padding: 0;
}
.navbar{
	margin-bottom: 10px;
	border-bottom: 1px solid #c00d1e;
}
/*redes sociales*/
.block[id*="socialheader"] .field--name-body{
	display: inline-flex;
}
#fb, #tw, #yt {
	position: relative;
	margin-right: 35px;
}
.overlay{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
#fb:hover .overlay, #tw:hover .overlay, #yt:hover .overlay {
  opacity: 1;
}
#fb img, #tw img, #yt img{
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*--alternador de idioma--*/
.language-switcher-language-url{
	margin: 5px 0 10px 0;
}
.language-switcher-language-url ul li{
	list-style: none;
	float: left;
}
.language-switcher-language-url .is-active a{
	color: #658d1b;
}
ul .es, ul .en{
	border-left: 1px solid #000;
	margin-left: 10px;
	padding-left: 10px;
 }
/*-----buscador-----*/
.search-block-form {
	max-width: 500px;
}
.input-group{
	width: 200px;
}
.form-search {
	border-radius: 0;
}
.form-control{
	border-color: #000;
	height: 28px;
	padding: 3px 6px;
}
.form-control:focus {
	border-color: #ffb511;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 204, 0, 0.6)
}
.glyphicon-search::before{
	color: #000;
}
.glyphicon-search:hover::before, .glyphicon-search:focus::before{
	color: #fff;
}
.form-type-search .btn-primary {
	height: 28px;
    background: none;
    border: none;
    border-radius: 0;
}
.form-type-search .btn-primary:hover {
    background-color: #ffb511;
}
/*main menu*/
.block[id$="navegacionprincipal"], #superfish-main-toggle, .block[id$="navegacionprincipal-2"] {
    	display: none;
}
ul.sf-menu.menu li.sf-depth-2 {
    border-bottom: 1px solid #c00d1e;
}
ul.sf-menu.sf-style-default li, ul.sf-menu.sf-style-default.sf-navbar {
    background-color: #fff;
    padding: 5px 20px;
}
ul.sf-menu.sf-style-default li:hover, ul.sf-menu.sf-style-default li.sfHover, ul.sf-menu.sf-style-default a:focus, ul.sf-menu.sf-style-default a:hover, ul.sf-menu.sf-style-default span.nolink:hover {
    background-color: #efefef;
}
ul.sf-menu.sf-style-default li li, ul.sf-menu.sf-style-default.sf-navbar > li > ul {
    background-color: #fff;
}
.block[id$="navegacionprincipal"] .principal-menu .menu-sub ul {
    margin-top: 25px;
}
ul.sf-menu.sf-style-default a, ul.sf-menu.sf-style-default a:visited, ul.sf-menu.sf-style-default span.nolink {
	font-weight: 600;
    color: #000;
}
ul.sf-menu.sf-style-default li:hover,
ul.sf-menu.sf-style-default li.sfHover,
ul.sf-menu.sf-style-default a:focus,
ul.sf-menu.sf-style-default a:hover,
ul.sf-menu.sf-style-default span.nolink:hover {
  color: #658d1b;
}
ul.sf-menu.sf-style-default a.is-active,
ul.sf-menu.sf-style-default span.nolink.is-active {
    color: #658d1b;
}
/*menu-desplegable*/
#superfish-main--2-toggle {
	background-color: #fff;
	color: #5e5e5e;
	font-size: 20px;
	padding-left: 0;
}
#superfish-main--2-toggle span {
	display: none;
}
div.sf-accordion-toggle.sf-style-default a.sf-expanded, ul.sf-menu.sf-style-default.sf-accordion li.sf-expanded {
    background: #fff none repeat scroll 0 0;
}
/*content*/
/*signos de puntuación cuadrados verdes*/
.region-content ul {
    list-style-type: square;
    color: #658d1b;
    line-height: 3;
}
ul span{
    list-style-type: square;
    color: #000;
}
/*subtitulos azules*/
h2.encabezado-a {
	font-size: 20px;
	background-color: #4d7cbc;
	padding: 5px;
	color: #fff;
}
/*PÁGINA DE INICIO*/
.path-frontpage .main-container {
	margin-top: 120px;
}
.path-frontpage h1.js-quickedit-page-title {
	border-bottom: 0 none;
}
/*----slider-----*/
#block-views-block-slideshow-block-1{
	margin: 0 0 20px 0;
}
.carousel-caption{
    background-color: rgba(255,255,255,0.6);
    padding-right: 10px;
    padding-left: 10px;
}
/*-----panel de proyectos en portada-----*/
.titulo {
    text-align: center;
    margin-bottom: 50px;
}
.view-display-id-page_1{
	margin: 50px 0;
}
.columna-proyectos-portada{
	text-align: center;
	padding: 0 5px;
}
.columna-proyectos-portada .views-field-title {
	border: 1px solid #c00d1e;
	height: 65px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	font-weight: bold;
}
.columna-proyectos-portada .tipo-proyectos-portada{
	background-color: #c00d1e;
	padding: 10px 15px;
}
.columna-proyectos-portada .tipo-proyectos-portada a{
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.columna-proyectos-portada .imagen-proyectos-portada img{
	margin: 0 auto;
	border-right: 1px solid #c00d1e;
	border-left: 1px solid #c00d1e;
    border-bottom: 1px solid #c00d1e;
}
/*agenda en portada
/*noticias en portada*/
.block-views-blocknoticias-block-1{
	float: left;
	width: 550px;
	margin-right: 40px;
}
.block[id*="noticias-block-1"] .views-row, .block[id*="agenda-block-1"] .views-row {
	clear: both;
	float: left;
	border-bottom: 1px dotted #cfcfcf;
	margin-bottom: 10px;
	padding-bottom: 10px;
	min-height: 127px;
}
.block[id*="noticias-block-1"] h2, .block[id*="agenda-block-1"] h2, .block[id*="fblikebox"] h2{
	background-color: #658d1b;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
	font-size: 22px;
	letter-spacing: 4px;
	text-align: center;
}
.block[id*="noticias-block-1"] .views-field-field-image{
	float: left;
	margin: 0 10px 0 0;
}
.block[id*="noticias-block-1"] .views-field-title{
	font-weight: 700;
	text-transform: uppercase;
}
.block[id*="noticias-block-1"] .views-field-body{
	margin: 0 0 10px 0;
}
/*facebook en portada*/
.block[id*="fblikebox"]{
	float: left;
	margin-right: 30px;
	margin-bottom: 40px;
	z-index: 1000;
}
/*---agenda---*/
.block[id*="agenda-block-1"] {
	float: left;
	width: 695px;
    margin-bottom: 80px;
}
.block[id*="agenda-block-1"] .views-row{
	width: 100%;
}
.block[id*="agenda-block-1"] .views-field-title {
	font-weight: 700;
	margin: 5px 0;
	text-transform: uppercase;
}
.block[id*="agenda-block-1"] p, .block[id*="agenda-block-1"] time, .block[id*="agenda-block-1"] span {
	padding-left: 5px;
}
/*.view-agenda .views-field-field-fecha {
        width: 100%;
}*/
.fecha-agenda-portada{
	background-color: #ffe065;
	font-weight: 700;
	text-transform: uppercase;
}
/*conversión*/
/*campaña*/
.block[id*="conversionportada"]{
	clear: both;
    margin-bottom: 70px;
}
#conversion{
	text-align: center;
	margin: 50px 0;
	font-size: 34px;
}
#conversion h2{
	font-size: 28px;
}
#socio, #campanya, #voluntario, #empresas {
	float: left;
	width: 275px;
	padding: 30px 0;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}
#socio{
	background-color: #c00d1e;
	margin: 0 10px 0 5px;
}
#campanya{
	background-color: #658d1b;
	margin: 0 10px 0 0;
}
#voluntario{
	background-color: #4d7cbc;
	margin: 0 10px 0 0;
}
#empresas{
	background-color: #ffb511;
}
#socio a, #campanya a, #voluntario a, #empresas a {
	color: #fff;
	text-shadow:0 0 3px #000;
}
#socio a:hover, #socio a:focus, #campanya a:hover, #campanya a:focus, #voluntario a:hover, #voluntario a:focus, #empresas a:hover, #empresas a:focus {
	color: #000;
    text-shadow: none;
}
/*SECCIÓN QUIÉNES SOMOS*/
/*empresas embajadoras*/
.view-empresas-embajadoras .col{
	margin-bottom: 40px;
}
.view-empresas-embajadoras .field-content img {
	margin: 0 auto;
	max-width: 100%
}
/*SECCIÓN QUE HACEMOS y nuestras campañas*/
/*portadas*/
#node/31{display: none;}
.view-display-id-campanyas .views-row, .view-display-id-page_7 .views-row, .view-display-id-page_8 .views-row, .view-display-id-page_4 .views-row, .view-display-id-page_5 .views-row, .view-display-id-page_6 .views-row{
	clear: both;
	float: left;
	border-bottom: 1px dotted #ffb511;
	padding-top: 20px;
    width: 100%;
}
.view-display-id-campanyas .views-field-field-image, .view-display-id-page_7 .views-field-field-imagen, .view-display-id-page_8 .views-field-field-imagen, .view-display-id-page_4 .views-field-field-imagen, .view-display-id-page_5 .views-field-field-imagen, .view-display-id-page_6 .views-field-field-imagen{
	float: left;
	margin: 0 20px 20px 0;
}
.view-display-id-campanyas .views-field-title, .view-display-id-page_7 .views-field-title, .view-display-id-page_8 .views-field-title, .view-display-id-page_4 .views-field-title, .view-display-id-page_5 .views-field-title, .view-display-id-page_6 .views-field-title{
	font-size: 22px;
}
/*.view-display-id-page_7 .views-field-field-tipo, .view-display-id-page_8 .views-field-field-tipo, .view-display-id-page_4 .views-field-field-tipo, .view-display-id-page_5 .views-field-field-tipo, .view-display-id-page_6 .views-field-field-tipo{
    padding-top: 10px;
}*/
.view-display-id-page_7 .views-field-field-tipo {
    margin-top: 20px;
    font-style: italic;
    padding-bottom: 6px;
}
.view-display-id-page_7 .views-field-field-tipo a {
    border-bottom: 1px dotted #c00d1e;
}
#ncampanas{
    border-bottom: 1px dotted #658d1b;
    padding-bottom: 6px;
}
/*---dentro de cada proyecto y noticia*/
h1.js-quickedit-page-title {
	padding-bottom: 6px;
	border-bottom: 1px dotted #c00d1e;
}
.proyectos .field--name-field-imagen {
	margin-bottom: 20px;
}
/*---proyectos---*/
/*--formulario información--*/
#block-formularioweb h2 {
	margin: 10px 0 20px 0;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	background-color: #c00d1e;
	color: #fff;
	border: 1px dotted #cfcfcf;
	border-radius: 5px;
    font-size: 22px;
}
.js-form-item-mensaje {
	padding-bottom: 15px;
}
/*---agenda---*/
.view-agenda.view-display-id-page_1 .views-row {
    margin-bottom: 20px;
}
/*COLABORA*/
.view-colabora .views-row {
	float: left;
	display: block;
	position: relative;
	margin: 0 40px 80px 0;
}
.view-colabora .views-field-title {
	position: absolute;
	bottom: 350px;
	height: 30px;
	width: 480px;
}
.view-colabora .views-field-title h2{
	font-size: 32px;
	background-color: rgba(0,0,0,.7);
	padding: 5px 0
}
.view-colabora .views-field-title a{
	padding: 0 20px;
	color: #fff;
}
._8 .views-field-title a:hover, ._8 .views-field-title a:focus, ._8 .views-field-body a:hover, ._8 .views-field-body a:focus{
	color: #c00d1e;
}
._9 .views-field-title a:hover, ._9 .views-field-title a:focus, ._9 .views-field-body a:hover, ._9 .views-field-body a:focus{
	color: #658d1b;
}
._0 .views-field-title a:hover, ._0 .views-field-title a:focus, ._0 .views-field-body a:hover, ._0 .views-field-body a:focus{
	color: #4d7cbc;
}
._1 .views-field-title a:hover, ._1 .views-field-title a:focus, ._1 .views-field-body a:hover, ._1 .views-field-body a:focus{
	color: #ffb511;
}
.view-colabora .views-field-body{
	position: absolute;
	height: 260px;
	max-width: 220px;
	bottom: 50px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	padding: 10px 20px;
}
.view-colabora .views-field-body a{
	color: #fff;
}
._8 .views-field-field-boton{
	background-color: #c00d1e;
}
._9 .views-field-field-boton{
	background-color: #658d1b;
}
._0 .views-field-field-boton{
	background-color: #4d7cbc;
}
._1 .views-field-field-boton{
	background-color: #ffb511;
}
.texto-colabora{
	margin: 0 20px;
}
.views-field-field-boton {
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(255,255,255,.7);
	width: 480px;
	padding: 5px 0;
}
.views-field-field-boton a{
	font-size: 24px;
}
.views-field-field-boton a:hover, .views-field-field-boton a:focus{
	color: #fff;
}
/*contenido de las sección conlabora*/
.colabora .field--type-image {
	float: left;
	margin: 0 20px 30px 0;
}
.colabora .field--name-field-boton {
	clear: both;
	font-size: 22px;
    text-align: center;
    font-size: 32px;
}
.form-colabora {
	margin-top: 30px;
}
.field--name-field-subir-pdf-colabora {
    margin: 50px 0;
}
/*formularios*/
li.webform-progress-bar__page--current > b {color: #658d1b;}

/*SECCIÓN NOTICIAS*/
.view-id-noticias.view-display-id-page_1 .views-row{
	clear: both;
	float: left;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom:1px dotted #cfcfcf;
	width: 100%;
}
.view-noticias.view-display-id-page_1 .views-field-field-image{
	clear: both;
	float: left;
	margin: 0 10px 10px 0;
}
.view-noticias.view-display-id-page_1 .views-field-title{
	font-size: 22px;
	padding-bottom: 10px;
}
/*contenido de las noticias*/
.article.full img{
	margin-bottom: 10px;
}
/*FOOTER*/
.footer{
	border: none
}
.region-footer{
background-color: #4d4d4d;
}
.block-footermap{
	float: left;
	z-index: 1000;
}
.footermap-item--depth-1 {
	float: left;
	border-left: 1px dotted #fff;
	padding: 0 10px;
	font-weight: bold;
	height: 135px;
}
.footermap-item--depth-2 {
	font-weight: normal;
}
.block-footermap h2 {
	color: #fff;
	font-size: 20px;
}
.block-footermap a {
	color: #fff;
}
.block-footermap a:hover, .block-footermap a:focus {
	color: #ffb511;
}
.block-footermap ul {
	padding: 15px 0;
	margin-left: -1px;
}
.footermap-col {
    padding: 0;
    margin: 0;
}
/*---logo---*/
#branding-footer {
	float: right;
	color: #fff;
	padding: 20px 10px;
}
#branding-footer p {
	line-height: 10px;
}
#branding-footer a{
	color: #fff;
}
#branding-footer a:hover, #branding-footer a:focus {
	color: #ffb511;
}
/*footer bajo*/
.block[id*="footer2"]{
	background-color: #cfcfcf;
	padding: 5px 10px;
}
#copyright{
	float: left;
	color: #000;
}
#enlace-aviso-legal{
	font-weight: 700;
	float: right;
}
.block[id*="footermobile"]{
    background-color: #fff;
    padding: 5px 10px;
    min-height: 60px;
}
#rrss-footer {
    clear: both;
    float: left;
    display: inline-flex;
    padding: 20px 0 0 5px;
}
