//EU Cookies Compliance
#sliding-popup {

  @extend .alert;
  @extend .alert-warning;
  margin-bottom: 0;
  background-image: none;
  padding: 0 15px;

  .popup-content {

    max-width: $container-large-desktop;
    #popup-text {
      max-width: 1100px;
      margin: 0;
      padding: 5px 0 0 ;
      p {
        color: $alert-warning-text;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
      }
    }
    #popup-buttons {
      max-width: 70px;
      .agree-button {
        @extend .alert-link;
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        box-shadow: none;
        float: right;
        font-size: 12px;
        line-height: 1;
        margin: 5px 0;
        padding: 0;
        text-shadow: none;

        &:after {
          @include square(13px);
          content: 'x';
          border-radius: 7px;
          border: 1px solid darken($alert-warning-text, 10%);
          display: inline-block;
          font-weight: 300;
          line-height: .9;
          margin-left:5px;
        }

        &:hover,
        &:focus {
          background: inherit;
          text-decoration: underline;
        }
      }
      .find-more-button {
        display: none;
      }
    }
  }
}
//Footers
.sticky-footer,
.footer{
  &.container-fluid {
    border-top: 1px solid white;
    color: white;
    font-weight: 300;
    margin: 0;
    max-width: none;
    padding: 0;
  }
}
.region-sticky-footer,
.region-footer {
  max-width: $container-large-desktop;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}
.region-sticky-footer{
  @extend .clearfix;
}
//Sticky footer
.sticky-footer {
  &.container-fluid {
    background-color: $brand-quaternary;
  }
  .menu.footer {
    @extend .nav-pills;
    border: 0;
    float: left;
    margin: 0;
    padding: 0;

    a {
      background-color: $brand-quaternary;
      color: white;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .block-addtoany {
    float: right;
    position: relative;
    .a2a_kit {
      position: relative;
      right: 0;
      top: -32px;
    }
  }
}

//Footer
.footer {
  &.container-fluid{
    background-color: $gray-dark;
  }
  a {
    color: white;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
  }
  strong{
    font-weight: 400;
  }
  .block {
    margin: 0 0 15px 0;
    &:not(:last-of-type) {
      @extend .col-sm-6;
      @extend .col-md-3;
    }

    &:first-of-type {
      img {
        width: 100px;
      }
    }
    &:last-of-type {
      border-top: 1px solid white;
      padding: 15px 0 0 0;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .footer {
    .block{
      &:first-child {
        img {
          width: auto;
        }
      }
      &:last-of-type {
        clear: both;
        float: left;
        width: 100%;
      }
    }
  }
}
