//Language Selector
.block-dropdown-language {
  float: left;
  margin-right: 15px;

  .dropdown {
    background: $brand-quaternary;
    border: 1px solid white;
    border-radius: 0;
    border-width: 0 0 1px 0;

    .caret {
      border-top: 0;
      border-bottom: 4px dashed;
    }

    &.open {
      .caret {
        border-top: 4px dashed;;
        border-bottom: 0
      }
    }

    > .language-link{
      background: inherit;
      color: white;
      border: 1px solid white;
      border-width: 0 1px 0 0;
      border-radius: 0;
      margin-top: 6px;
      margin-right: 1px;
      padding: 0;
      text-align: left;
      width: 5em;

      &:hover,
      &:focus,
      &:active {
        background: inherit;
        border: 1px solid white;
        border-width: 0 1px 0 0;
        color: inherit;
        box-shadow: none;
      }
    }
    .dropdown-toggle {
      background: inherit;
      color: white;
      border: 0;
      border-radius: 0;
      padding-right: 0;

      &:hover,
      &:focus,
      &:active {
        background: inherit;
        border: 0;
        color: inherit;
        box-shadow: none;
      }
    }
    .language-link {
      font-weight: 300;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
    .dropdown-menu {
      @include shadow();
      border: 0;
      border-radius: 0;
      min-width: 6.5em;
      transform: translateY(-7em);

      .language-link {
        background-color: transparent;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
