// container-fluid
.container-fluid {
  max-width: $container-large-desktop;
}
.region-content {
  margin-bottom: 4rem;
}
.breadcrumb {
  margin-bottom: 0;
}
@media (min-width: $screen-sm-min) {
  .page-node-type-page,
  .page-node-type-webform,
  .page-node-type-colabora {
    .region-content {
      padding-left: 340px;
      position:relative;

      .field--name-field-imagen-colabora {
        left: 0;
        position: absolute;
        top: 0;
        width: 340px;

        img {
          max-width: calc(100% - 20px);
        }
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .footer {
    img {
        display: none;
    }
  }
}
@media (max-width: $screen-sm-max) {
  .region-collaborate {
    img {
        display: none;
    }
  }
}
