// container-fluid
.container-fluid {
  max-width: $container-large-desktop;
}
.region-content {
  margin-bottom: 4rem;
}
.breadcrumb {
  margin-bottom: 0;
}
.region-sidebar-second {
  .block {
    background-color: $gray-lighter;
    padding: 10px;
  }
}

.page-node-type-campanas,
.page-node-type-colabora {
  .region-content {

    .content {
      @extend .row;
    }

    .field--name-field-imagen-colabora,
    .field--name-field-image {
      @extend .col;
      @extend .col-xs-12;
      @extend .col-sm-4;
    }

    .field--name-body {
      @extend .col;
      @extend .col-xs-12;
      @extend .col-sm-8;
    }

    .field--name-field-subir-pdf-colabora,
    .field--name-field-boton,
    .field--name-field-webform {
      @extend .col;
      @extend .col-xs-12;
      @extend .col-sm-8;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .footer {
    img {
        display: none;
    }
  }
}
@media (min-width: $screen-sm-min) {
  .page-node-type-colabora {
    .region-content {
      .field--name-field-subir-pdf-colabora,
      .field--name-field-boton,
      .field--name-field-webform {
        float: right;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .region-collaborate {
    img {
        display: none;
    }
  }
}
