//Navbar
.navbar {
  @include shadow();
  .block {
    margin-bottom: 0;
  }
}
.navbar-header {

  width: 100%;

  .logo {
    display: block;
    height: 50px;
    margin: 8px 15px 8px 60px;
    padding: 0;

    img {
      display: block;
      max-height: 100%;
    }
  }

  .region-navigation > .search-block-form {
    top: 10px;
    right: 15px;
    position: absolute;
    width: calc(100% - 250px);
    max-width: 200px;
  }

  /* menu */
  #superfish-main-toggle {
    @include square(40px);
    color: $gray-dark;
    cursor: pointer;
    font-size: 30px;
    left: 15px;
    line-height: 1.4;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 10px;

    @extend .glyphicon;
    @extend .glyphicon-menu-hamburger;

    &.sf-expanded {
      @extend .glyphicon-remove;
    }

    &:hover,
    &:focus {
      background-color: $gray-dark;
      color: white;
    }

    span {
      @extend .sr-only;
    }
  }

  .menu {

    > li {
      &:not(:last-of-type) {
        .menu-enlace {
          color: $gray-dark;
          text-decoration: none;

          &:not(.menuparent) {
            &:hover,
            &:focus {
              color: $brand-primary;
            }
          }
        }
      }

      &:last-of-type {
        padding: 14px 21px;

        .menu-enlace {
          @include btn-donate();
          border-radius: 2.5rem;
          display: inline-block;
          text-decoration: none;
        }
      }
    }

    .menu-sub {
      &:not(.sf-no-children) {
        &:before {
          @extend .glyphicon;
          @extend .glyphicon-menu-down;

          position: absolute;
          right: 0;
          top: 1em;
        }
        &.sf-expanded:before {
          @extend .glyphicon-menu-up;
        }
        &:hover,
        &:focus {
          &:before {
            color: $brand-primary;
          }
        }
      }

    }
    .sf-has-clone-parent {
      margin-left: 15px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .navbar-header {
    .region-navigation {
      position: relative;
    }
    .logo {
      margin-left: 0;
    }
    .block-superfish {
      .menu {
        margin-right: 250px;
        text-align: right;

        > li {
          display: inline-block;
          float: none;
          margin-right: 1px;
          &:not(:last-of-type) {
            > a {
              border-bottom: 5px solid white;
              bottom: -1px;
              font-size: 1.8rem;
              font-weight: 300;
              padding: 20px 25px 20px 20px;
              position: relative;

              &:hover,
              &:focus {
                border-color: $brand-primary;
              }
            }

            &.sfHover,
            &.active-trail {
              > a {
                border-color: $brand-primary;
              }
            }
            &.sfHover{
              > ul {
                top: auto;
              }
            }

          }
          &:last-of-type {
            padding: 9px 20px;
          }

          > ul {
            @include shadow-sm();
            background-color: white;
            text-align: left;

            > li > a {
              font-weight: 300;
              font-size: 16px;
              padding: 10px 20px;
            }
          }
        }
        .menu-sub {
          &:not(.sf-no-children) {
            &:before {
              top: 24px;
            }
            &:hover,
            &:focus {
              &:before {
                color: $gray-dark;
              }
            }
          }
        }
      }
    }
    .region-navigation > .search-block-form {
      right: 0px;
      top: 15px;

      .form-item {
        margin-bottom: 0;
      }
    }
  }
}
//spb popup on serach block
#block-fxj-alpha-search {
  display: none;
}
.spb-popup-main-wrapper {
  @include shadow();
  background: hsla(0,0%,100%,.9) url(../logo.svg) no-repeat 10vw 1rem;
  background-size: 200px;
  border: 0;

  .search-block-form {
    margin: 20vh 10vw 0 10vw;

    .form-control {
      background-color: transparent;
      font-size: 3rem;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 3rem;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-size: 3rem;
      }
      &::-ms-input-placeholder {
        font-size: 3rem;
      }
      &::placeholder{
        font-size: 3rem;
      }
    }

    .form-submit {
      background-color: transparent;
      font-size: 2rem;
    }
  }
}
.spb_top_center {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.block-fxj-alpha-search-modal-minimize {
  display: none;
}
.block-fxj-alpha-search-modal-close {
  @include square(4rem);
  background-color: transparent;
  border: 0;
  font-size: 4rem;
  line-height: 1;
  position: relative;
  right: 10vw;
  top: 1rem;
}
#search-popup {
  border: 0;
  display: none;
  background-color: transparent;
  border-color: 0;

  &:hover,
  &:focus {
    color: $brand-primary;
  }
}
.simple-popup-blocks-global + #search-popup {
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
}
