.navbar {
  @include shadow();
}
.navbar-header {

  width: 100%;

  .logo {
    display: block;
    height: 50px;
    margin: 8px 15px 8px 60px;
    padding: 0;

    img {
      display: block;
      max-height: 100%;
    }
  }

  .search-block-form {
    top: 10px;
    right: 15px;
    position: absolute;
    width: calc(100% - 250px);
    max-width: 200px;
  }

  /* menu */
  #superfish-main-toggle {
    @include square(40px);
    color: $gray-dark;
    cursor: pointer;
    font-size: 30px;
    left: 15px;
    line-height: 1.4;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 10px;

    @extend .glyphicon;
    @extend .glyphicon-menu-hamburger;

    &.sf-expanded {
      @extend .glyphicon-remove;
    }

    &:hover,
    &:focus {
      background-color: $gray-dark;
      color: white;
    }

    span {
      @extend .sr-only;
    }
  }

  .menu {
    .menu-enlace {
      color: $gray-dark;
      text-decoration: none;

      &:not(.menuparent) {
        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }
    }
    .menu-sub {
      &:not(.sf-no-children) {
        &:before {
          @extend .glyphicon;
          @extend .glyphicon-menu-down;

          position: absolute;
          right: 0;
          top: 1em;
        }
        &.sf-expanded:before {
          @extend .glyphicon-menu-up;
        }
        &:hover,
        &:focus {
          &:before {
            color: $brand-primary;
          }
        }
      }

    }
    .sf-has-clone-parent {
      margin-left: 15px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .navbar-header {
    .region-navigation {
      position: relative;
    }
    .logo {
      margin-left: 0;
    }
    .block-superfish {
      .menu {
        margin-right: 250px;
        text-align: right;

        > li {
          display: inline-block;
          float: none;
          margin-right: 1px;

          > a {
            border-bottom: 5px solid white;
            bottom: -1px;
            font-size: 20px;
            font-weight: 300;
            padding: 20px 25px 21px 20px;
            position: relative;

            &:hover,
            &:focus {
              border-color: $brand-tertiary;
            }
          }

          &.sfHover,
          &.active-trail {
            > a {
              border-color: $brand-tertiary;
            }
          }

          > ul {
            @include shadow-sm();
            background-color: white;
            text-align: left;
            top: auto;

            > li > a {
              font-weight: 300;
              font-size: 16px;
              padding: 10px 20px;
            }
          }
        }
        .menu-sub {
          &:not(.sf-no-children) {
            &:before {
              top: 23px;
            }
            &:hover,
            &:focus {
              &:before {
                color: $gray-dark;
              }
            }
          }
        }
      }
    }
    .search-block-form {
      right: 0px;
    }
  }
}
