body{
  font-size: 1.6rem;
  font-weight: 300;
}
img {
  @extend .img-responsive;
}
.h2--separator {
  font-weight: 300;
  margin: 3rem 0;
  position: relative;
  z-index: 1;

  &:before {
        border-top: 1px solid $gray-lighter;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

  span {
    background-color: white;
    display: inline-block;
    margin: 0;
    padding: 0 1rem 0 0;
  }
}
.block-title,
.page-header {
  @extend .h2--separator;
}
.page-header {
  border-bottom: 0;
  font-weight: 400;
}
