.views-element-container,
.views-element-container:last-child,
.block {
  margin-bottom: 30px;
}

.view-header {
  margin-bottom: 15px;
}
.views-field-field-tipo .field-content {
  background-color: white;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;

  h2,
  .field--label {
    display: none;
  }
}
.views-field-title {
  a {
    display: block;
    padding:5px;
  }
}
.views-field-body {
  margin: 5px 0;
}

// grid display
.col {
  position: relative;
  margin-bottom: 15px;

  .views-field-title {
    a {
      background-color: $brand-primary;
      color: white;
    }
  }
  .views-field-field-tipo {
    left: 20px;
    position: absolute;
    top: 60px;
  }
}
//unordered list extra class view-row-media
.view-row-media {
  @extend .clearfix;
  margin-bottom: 15px;

  .views-field-field-tipo {
    background-color: $brand-primary;
    height: 100px;
    float: left;
    margin-right: 10px;
    width: 100px;
    text-align: center;

    .field-content {
      border-radius: 30px;
      display: inline-block;
      font-size: 30px;
      height: 60px;
      margin-top: 20px;
      width: 60px;

    }
  }
  .views-field-title,
  .views-field-body,
  .views-field-field-fecha,
  .views-field-view-node {
    padding-left: 120px;
  }
}
@media (max-width: $screen-sm-min) {
  .col{
    .views-field-field-imagen,
    .views-field-field-image {
      box-sizing: border-box;
      float: left;
      overflow: hidden;
      margin-right: 10px;
      text-align: center;
      width: 100px;

      img {
        height: 100px;
        left: -35%;
        position: relative;
        width: auto;
        max-width: none;
      }
    }
    .views-field-title,
    .views-field-body {
      padding-left: 110px;
    }
  }
}
@media (min-width: $screen-sm-min) {
   .col{
    .views-field-field-imagen,
    .views-field-field-image {
      height: 100px;
      margin-bottom: -30px;
      overflow: hidden;
    }
    .views-field-field-tipo {
      left: 10px;
      position: relative;
      top: -10px;
    }
  }
  .block,
  .view {
    position: relative;

    .view-footer,
    .collaborate-footer {
      position: absolute;
      right: 0;
    }
  }
  .block {
    .view-footer,
    .collaborate-footer {
      top: 4em;
    }
  }
  .view {
    .view-footer {
      top: 2em;
    }
  }

}

//collaborate
.collaborate-header {
  margin-bottom: 15px;
}
.main-container {
  .collaborate-header {
    h2 {
      display:none;
    }
  }
  .collaborate-feature-container {
    @extend .col;
    @extend .col-sm-6;
    @extend .col-md-3;
  }
  .collaborate-feature {
    background-color: $brand-tertiary;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;

    a {
      color: white;
    }

    p {
      font-size: 20px;
      font-weight: 300;
    }
    .fontawesome-icon {
      @include square(40px);
      border-radius: 20px;
      border: 1px solid white;
      display: block;
      font-size: 16px;
      margin: 0 auto 10px auto;
      padding-top: 8px;
    }
  }
  @media (min-width: $screen-md-min) {
    .collaborate-feature {
      font-size: 30px;

      .fontawesome-icon {
        @include square(70px);
        border-radius: 35px;
        font-size: 30px;
        padding-top: 14px;
      }
    }
  }
}
.footer {
  .collaborate-header {
    p {
      display:none;
    }
  }
  .collaborate-feature-container {
    margin-bottom: 10px;
  }
}
