.view-header {
  @extend .clearfix;
  margin-bottom: 15px;
}
.view-footer,
.collaborate-footer {
  margin: 2rem 0 3rem 0;
  text-transform: uppercase;

  .svg-inline--fa {
    margin-right: 1rem;
  }
}

.views-field-field-tipo .field-content {
  background-color: white;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;

  h2,
  .field--label {
    display: none;
  }
}
.views-field-field-imagen,
.views-field-field-image {
  a {
    display: block;

    img {
      @include transition(0.5s);
    }

    &:hover,
    &:focus {
      img {
        @include scale(1.1);
      }
    }
  }
}

.views-field-title {
  a {
    display: block;
    padding:5px;
  }
}
.views-field-body {
  margin: 5px 0;
}

// grid display
.col {
  position: relative;
  margin-bottom: 15px;

  .views-field-title {
    a {
      @extend .btn-primary;
      @include transition(0.5s);
      font-weight: 300;
      text-decoration: none;
    }
  }
  .views-field-field-tipo {
    left: 20px;
    position: absolute;
    top: 60px;
  }
}
//unordered list extra class view-row-media ... events
.view-row-media {
  @extend .clearfix;
  margin-bottom: 15px;

  .views-field-field-tipo {
    background-color: $brand-primary;
    height: 100px;
    float: left;
    margin-right: 10px;
    width: 100px;
    text-align: center;

    .field-content {
      border-radius: 25px;
      display: inline-block;
      font-size: 2rem;
      height: 50px;
      margin-top: 25px;
      padding-top: 10px;
      width: 50px;

    }
  }
  .views-field-title,
  .views-field-body,
  .views-field-field-fecha,
  .views-field-view-node {
    padding-left: 120px;
  }
}
@media (max-width: $screen-sm-min) {
  .col{
    .views-field-field-imagen,
    .views-field-field-image {
      box-sizing: border-box;
      float: left;
      overflow: hidden;
      margin-right: 10px;
      text-align: center;
      width: 100px;

      img {
        height: 100px;
        left: -35%;
        position: relative;
        width: auto;
        max-width: none;
      }
    }
    .views-field-title,
    .views-field-body,
    .views-field-view-node {
      padding-left: 120px;
    }
  }
}
@media (min-width: $screen-sm-min) {
  .col{
    .views-field-field-imagen,
    .views-field-field-image {
      height: 150px;
      margin-bottom: -30px;
      overflow: hidden;
      position: relative;

      .field-content {
        position: relative;
        top: -32%;
      }

    }
    .views-field-field-tipo {
      left: 10px;
      position: relative;
      top: -10px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .col{
    .views-field-field-imagen,
    .views-field-field-image {
      height: 150px;
      margin-bottom: -30px;
      overflow: hidden;
      position: static;

      .field-content {
        position: static;
        top: auto;
      }
    }
  }
}
//collaborate
.collaborate {

  &.container-fluid {
    background-color: $gray-lighter;
    margin: 40px 0;
    max-width: none;
    padding: 0;
  }
}
.region-collaborate {
  @extend .clearfix;
  max-width: $container-large-desktop;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}
.collaborate-header {
  margin-bottom: 15px;
}
.region-collaborate {
  .h2--separator {
    &:before {
      border-color: white;
    }
    span {
      background-color: $gray-lighter;
    }
  }
  .collaborate-header {
    h2 {
      display:none;
    }
  }
  .collaborate-feature-container {
    @extend .col;
    @extend .col-sm-6;
    @extend .col-md-3;
  }
  .collaborate-feature {
    font-size: 2rem;
    text-align: center;

    a {
      @extend .btn-donate;
      @include transition(0.5s);
      display: block;
      padding: 20px;
      text-decoration: none;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
    }
    .fontawesome-icon {
      @include square(40px);
      border-radius: 20px;
      border: 1px solid white;
      color: white;
      display: block;
      font-size: 16px;
      margin: 0 auto 10px auto;
      padding-top: 8px;
    }
  }
  @media (min-width: $screen-md-min) {
    .collaborate-feature {
      font-size: 3rem;

      .fontawesome-icon {
        @include square(70px);
        border-radius: 35px;
        font-size: 30px;
        padding-top: 14px;
      }
    }
  }
}
.footer {
  .collaborate-header {
    p {
      display:none;
    }
  }
  .collaborate-feature-container {
    margin-bottom: 10px;
  }
}
